body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
  width: 100%;
}

header {
  background: #404041;
  height: 70px;
  font-size: 60px;
  padding-bottom: 15px;
  text-align: center;
}

.name {
  color: #ED458B;
  font-weight: 700;
  padding-right: 8px;
}

.guesser {
  color: #E6E7E8;
  font-weight: 300;
}

.line {
  color: #EB008B;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
}

input {
  border: 1px solid #000;
  display: block;

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 40px auto 0 auto;
  padding: 10px;
  width: 40%;
}

button {
  background: #929497;
  border: none;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 5px;
  width: 18%;
}

.guess-btn {
  margin-right: 50px;
}

.guess-btn:hover,
.clear-btn:hover,
.reset-btn:hover {
  background: #EB008B;
}

.clear-btn:disabled,
.reset-btn:disabled {
  background: #d0d2d3;
}

.display-guess {
  color: #EB008B;

  font-size: 135px;
  font-weight: 300;
  margin: -50px 0;
}

label {
  font-size: 25px;
}

.results {
  font-size: 25px;
}

.min-view {
  margin-right: 20px;
}

.min-view,
.max-view {
  display: inline-block;
  padding-left: 15px;
  text-align: center;
  margin-top: 20px;
  width: 50px;
}

.reset-btn {
  padding: 5px;
  width: 40%;
}

/*media queries*/

@media (max-width: 800px) {

  input {
    width: 55%;
  }

  button {
    width: 25%;
  }

  .reset-btn {
    width: 50%;
  }
}
@media (max-width: 540px) {

  header {
    font-size: 45px;
    padding-bottom: 0;
  }
}

@media (max-width: 475px) {

  header {
    font-size: 40px;
    padding-bottom: 0;
    padding-top: 10px;
  }

  input {
    width: 70%;
  }

  button {
    font-size: 20px;
    width: 35%;
  }

  .guess-btn {
    margin-right: 20px;
  }

  .reset-btn {
    width: 70%;
  }
}

@media (max-width: 355px) {

  header {
    font-size: 35px;
    padding-bottom: 0;
    padding-top: 15px;
  }

  .results,
  label {
    font-size: 20px;
  }
}
